<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style/login.css">
    <title>Document</title>
</head>
<body>
    
    <div class="login_container">
        <div class="login_form_container">
            <div class="left">
                <form method="POST" class="form_container" >
                   {% csrf_token %}
                    <h1 class="title1">Login to Your Account</h1>
                    <p>Enter your email and password to login</p>	
                          <input type="text" placeholder="username" name="username" class="input" />
						<input
							type="password"
							placeholder="Password"
							name="password"
							class="input"
						/>	           
                    {%for message in messages %} 
                    <p class="message">{{message}}</p>
                    {% endfor %}
                    <button type="submit" value="login" class="green_btn">
                        Sing In
                    </button>
                    <p class="account">Don't have an account?   
                     <a href="{% url 'signup'%}">  Sign Up
                        </a> 
                    </p>
                    
                </form>
            </div>
            <div class="right">	
            </div>
        </div>
    </div>
</body>
</html>