{%load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
    <link rel="stylesheet" href="{% static 'style/admin.css' %}">
    <script src="https://kit.fontawesome.com/dd08ef7328.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.8.0/dist/chart.min.js"></script>
    <link rel="stylesheet" href="../static/fontawesome-free-6.1.1-web/css/all.css">
    <title>Table</title>
</head>

<body>
    <div class="core1">

        <section>
            <div class="sidebar">
                <ul>
                    <li class="active"> <a href="{% url 'administrateur'%}"> <div><i class="fa-solid fa-chart-line"></i></div>Dashboard</a> </li>
                    <li> <a href="{% url 'control'%}"> <div><i class="fa-solid fa-gear"></i></div>Controle</a> </li>
                    <li> <a href="{% url 'logout'%}"> <div> <i class="fa-solid fa-right-from-bracket"></i></div>Déconnexion</a></li>
                </ul>
            </div>
        </section>
        <div class="core2">
            <section style="width:100%;">
                <div class="navBar">
                    <img alt="Image profile" src="../static/images/admin.png">
                    <div class="icon">
                        <svg fill="#718096" stroke-width="0" viewBox="0 0 16 16" focusable="false"
                            class="chakra-icon css-1k2rqkh" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z">
                            </path>
                        </svg>
                    </div>
                </div>
            </section>
            <div class="dashbord">
                <div class="row">
                    <div class="col" >
                        <i class="fa-solid fa-user fa-3x"></i>
                        <div class="contenu">
                            <p>personne</p>
                            <p>{{person}}</p>
                        </div>
                    </div>
                    <div class="col" >
                        <i class="fa-solid fa-hand-holding-hand fa-3x"></i>
                        <div class="contenu">
                            <p>association</p>
                            <p>{{association}}</p>
                        </div>
                    </div>
                    <div class="col" >
                        <i class="fa-solid fa-bullhorn fa-3x"></i>
                        <div class="contenu">
                            <p>annonce</p>
                            <p>{{annonce}}</p>
                        </div>
                    </div>
                    <div class="col" >
                        <i class="fa-solid fa-hand-holding-dollar fa-3x"></i>
                        <div class="contenu">
                            <p>cagnotte</p>
                            <p>{{cagniote}}</p>
                        </div>
                    </div>
                    <div class="col" >
                        <i class="fa-solid fa-handshake-angle fa-3x"></i>
                        <div class="contenu">
                            <p>mission</p>
                            <p>{{cagniote}}</p>
                        </div>
                    </div>

                    
                    
                
               
                </div>

                <div class="dashboard">
                    <div class="graph">
                        <canvas id="myChart" width="600px" height="300px"></canvas>
                        <p>Nombre de visites des utilisateurs par mois</p>
                    </div>
                    <div class=" table">
                        <div class="header">
                            <p>Activités</p>
                            <select name="pets" id="select">
                                <option value="">semaine</option>
                                <option value="dog">mois</option>
                                <option value="cat">année</option>
                            </select>
                        </div>

                    <table cellspacing="0">
                        <thead>

                            <tr>
                                <th>CLASSEMENT</th>
                                <th>ASSOCIATION</th>
                            </tr>
                        </thead>
                        <tbody>


                            

                            <tr>
                                <td data-column="Auter" >1</td>
                                <td data-column="Signialement" class="info">
                                    <img src="../static/images/sarp.png" alt="">
                                    <p>SARP <br> <span>sarp.sarp@gmail.com</span></p>
                                    
                                </td>
                                
                            </tr>
                            <tr>
                                <td data-column="Auter"  >2</td>
                                <td data-column="Signialement"></td>
                
                            </tr>
                            <tr>
                                <td data-column="Auter" >3</td>
                                <td data-column="Signialement"></td>
                
                            </tr>
                            <tr>
                                <td data-column="Auter" >4</td>
                                <td data-column="Signialement"></td>
                
                            </tr>
                            <tr>
                                <td data-column="Auter" >5</td>
                                <td data-column="Signialement"></td>
                
                            </tr>
                        
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>
 
        </div>


        
    </div>
    <script>
        const ctx = document.getElementById('myChart').getContext('2d');
        const myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: ['Avril', 'Mai', 'Juin'],
                datasets: [{
                    label: 'nb de visite',
                    data: [0, 20, 41],
                    borderColor: '#4fd1c5',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
        </script>

</body>

</html>