{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
    <link rel="stylesheet" href="{% static 'style/annonce.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/dd08ef7328.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <div class="core1">

        
            <section>
                <div class="sidebar">
    
                    <ul>
                        <li><a href="{% url 'annonce'%}"><div><i class="fa-solid fa-house"></i></div></i> Annonce</a></li>
                        <li> <a href="{% url 'profile'%}"> <div><i class="fa-solid fa-user"></i></div> Profile</a> </li>
                        <li> <a href="{% url 'cagniote'%}"> <div><i class="fa-solid fa-hand-holding-dollar"></i></div> cagnotte</a> </li>
                        <li> <a href="">lorem ipsum</a></li>
    
                    </ul>
                </div>
            </section>
        
        <div class="core2">
            <section style="width:100%;">
                <div class="navBar">
                    <a href="{% url 'profile'%}"><img alt="Image profile" src="{{request.user.img.url}}"></a>
                    <div class="icon">
                        <svg fill="#718096" stroke-width="0" viewBox="0 0 16 16" focusable="false"
                            height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z">
                            </path>
                        </svg>
                    </div>
                </div>
            </section>

            <section>
                <div class="container2">
                    <div class="postbox">
                        <a href="{% url 'profile'%}"><img src="{{request.user.img.url}}" alt=""></a>
                        <div class="newpst-input">
                            <form method="POST" enctype="multipart/form-data" >
                                {% csrf_token %}
                                {{formAnnonce.contenu}}
                                <div class="attachments">
                                    <ul>
                                        <li>  
                                            <label for="image_input">
                                                <i class="fa fa-image"></i>
                                            </label>
                                            
                                            {{formAnnonce.image}}
                                        </li>
                                        <li>
                                            {{formAnnonce.type}}
                                        </li>
                                        <li>
                                            <input type="submit" value="add" class="ajouter" >
                                        </li>
                                    </ul>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>

            <section class="main-content">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 offset-sm-2">
                            {% for  annonce in annonces%}
                            <div class="post-block">
                                <div class="d-flex justify-content-between">
                                    <div class="d-flex mb-3">
                                        {% if annonce.auteur.id == request.user.id%}
                                        <div class="mr-2">
                                            <a href="{% url 'profile' %}" class="text-dark"><img src="{{annonce.auteur.img.url}}" alt="User" class="author-img"></a>
                                        </div>
                                        <div>
                                            <h5 class="mb-0"><a href="{% url 'profile' %}" class="text-dark">{{annonce.auteur.username}}</a></h5>
                                            <p class="mb-0 text-muted">{{annonce.date}}</p>
                                        </div>
                                        {% else %}
                                        <div class="mr-2">
                                            <a href="{% url 'ShowProfilePersonne' annonce.auteur.id %}" class="text-dark"><img src="{{annonce.auteur.img.url}}" alt="User" class="author-img"></a>
                                        </div>
                                        <div>
                                            <h5 class="mb-0"><a href="{% url 'ShowProfilePersonne' annonce.auteur.id %}" class="text-dark">{{annonce.auteur.username}}</a></h5>
                                            <p class="mb-0 text-muted">{{annonce.date}}</p>
                                        </div>
                                        {% endif%}
                                    </div>
                                    <div class="post-block__user-options">
                                        <a href="#!" id="triggerId" data-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false">
                                                    <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="triggerId">
                                            {% if user.id == annonce.auteur.id %}
                                            <a class="dropdown-item text-dark" href="{% url 'updateAnnonce' annonce.id %}"><i class="fa fa-pencil mr-1"></i>Edit</a>
                                            <a class="dropdown-item text-danger" href="{% url 'delete_annonce' annonce.id %}"><i class="fa fa-trash mr-1"></i>Delete</a>
                                            {% else %}
                                            <a class="dropdown-item text-dark" href="#!">Signaler</a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="post-block__content mb-2">
                                    <p>{{annonce.contenu}}</p>
                                    {% if annonce.image %}
                                    <div>
                                        <img src="{{annonce.image.url}}" alt="Content img">
                                    </div>
                                    {% endif %}
                                </div>
                                <div class="mb-3">
                                    <div class="d-flex justify-content-between mb-2">
                                        <div class="d-flex">
                                            <a href="#!" class="text-danger mr-2"><span><i class="fa fa-heart"></i></span></a>
                                            <a href="#comment" class="text-dark mr-2"><span>Comment</span></a>
                                        </div>
                                        <a href="#!" class="text-dark"><span>Share</span></a>
                                    </div>
                                    <p class="mb-0">Liked by <a href="#!" class="text-muted font-weight-bold">John doe</a> & <a href="#!" class="text-muted font-weight-bold">25 others</a></p>
                                </div>
                                <hr>
                                
                                <div class="post-block__comments">
                                    <!-- Comment Input -->
                                    <form action="{% url 'add_comment' annonce.id %}" method="post">
                                        <div class="input-group mb-3" id="comment">
                                            {% csrf_token %}
                                            {{commentForm.contenu}}
                                            <!-- <input type="text" class="form-control" placeholder="Add your comment"> -->
                                            <div class="input-group-append">
                                                  <button class="btn btn-primary" type="submit" id="button-addon2"><i class="fa fa-paper-plane"></i></button>
                                            </div>
                                        </div>
                                    </form>
                                    
                                    <!-- Comment content -->
                                    {%if not annonce.comments.all %}
                                    <p>Aucun commentaire ...</p>
                                    {% else %}
                                        {% for comment in annonce.comments.all%}
                                    <div class="d-flex justify-content-between">
                                    <div class="comment-view-box mb-3">
                                        {% if annonce.auteur.id == request.user.id%}
                                        <div class="d-flex mb-2">
                                            <a href="{% url 'ShowProfilePersonne' comment.auteur.id %}"><img src="{{comment.auteur.img.url}}" alt="User img" class="author-img author-img--small mr-2"></a>
                                            <div>
                                                <h6 class="mb-1"><a href="{% url 'profile' %}" class="text-dark">{{comment.auteur.username}}</a> <small class="text-muted">{{comment.date}}</small></h6>
                                                <p class="mb-1">{{comment.contenu}}</p>
                                                <div class="d-flex">
                                                    <a href="#!" class="text-dark mr-2"><span><i class="fa fa-heart-o"></i></span></a>
                                                </div>
                                            </div>
                                        </div>
                                        {% else %}
                                        <div class="d-flex mb-2">
                                            <a href="{% url 'ShowProfilePersonne' comment.auteur.id %}"><img src="{{comment.auteur.img.url}}" alt="User img" class="author-img author-img--small mr-2"></a>
                                            <div>
                                                <h6 class="mb-1"><a href="{% url 'ShowProfilePersonne' annonce.auteur.id %}" class="text-dark">{{comment.auteur.username}}</a> <small class="text-muted">{{comment.date}}</small></h6>
                                                <p class="mb-1">{{comment.contenu}}</p>
                                                <div class="d-flex">
                                                    <a href="#!" class="text-dark mr-2"><span><i class="fa fa-heart-o"></i></span></a>
                                                </div>
                                            </div>
                                        </div>
                                        {% endif %}
                                    </div>
                                    <div class="post-block__user-options">
                                        <a href="#!" id="triggerId" data-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false">
                                                    <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                        </a>
                                        {% if user.id == annonce.auteur.id %}
                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="triggerId">   
                                            <a class="dropdown-item text-danger" href="{% url 'delete_comment' comment.id %}"><i class="fa fa-trash mr-1"></i>Delete</a>
                                        </div>
                                        {% elif user.id == comment.auteur.id %}
                                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="triggerId">   
                                            <a class="dropdown-item text-danger" href="{% url 'delete_comment' comment.id %}"><i class="fa fa-trash mr-1"></i>Delete</a>
                                        </div>
                                        {% endif %}
                                    </div>
                                    </div>
                                        {%endfor%}
                                    {%endif%}
                                    <!-- More Comments -->
                                    <hr>
                                    <a href="#!" class="text-dark">View More comments <span class="font-weight-bold">(12)</span></a>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </section>
            
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
            
        </div>

    </div>
    
</body>
</html>