<!DOCTYPE html>
<html lang="en">
    {%load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
   

    <script src="https://kit.fontawesome.com/dd08ef7328.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/style/cagniote.css">
    <link rel="stylesheet" href="../static/style/style.css">
    <title>Document</title>
</head>

<body>
    <div class="core1">

        <section>
            <div class="sidebar">
                <ul>
                    {% if request.user.is_admin == True%}
                    <li> <a href="{% url 'administrateur'%}"> <div><i class="fa-solid fa-chart-line"></i></div>Dashboard</a> </li>
                    <li> <a href="{% url 'control'%}"> <div><i class="fa-solid fa-gear"></i></div>Controle</a> </li>
                    <li> <a href="{% url 'logout'%}"> <div> <i class="fa-solid fa-right-from-bracket"></i></div>Déconnexion</a></li>
                    {% else%}
                    <li><a href="{% url 'annonce'%}"><div><i class="fa-solid fa-house"></i></div></i>Annonce</a></li>
                    <li> <a href="{% url 'profile'%}"> <div><i class="fa-solid fa-user"></i></div>Profile</a> </li>
                    <li> <a href="{% url 'cagniote'%}"> <div><i class="fa-solid fa-hand-holding-dollar"></i></div>Cagnotte</a> </li>
                    <li> <a href="{% url 'benevole'%}"> <div><i class="fa-solid fa-handshake-angle"></i></div>Mission</a> </li>
                    <li> <a href="{% url 'list_association'%}"> <div><i class="fa-solid fa-magnifying-glass"></i></div>Association</a> </li>
                    <li> <a href="{% url 'logout'%}"> <div> <i class="fa-solid fa-right-from-bracket"></i></div>Déconnexion</a></li>
                    {% endif %}

                </ul>
            </div>
        </section>
        <div class="core2">
            <section style="width:100%;">
                <div class="navBar">
                    <img alt="Image profile" src="https://bit.ly/dan-abramov">
                    <div class="icon">
                        <svg fill="#718096" stroke-width="0" viewBox="0 0 16 16" focusable="false"
                            class="chakra-icon css-1k2rqkh" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z">
                            </path>
                        </svg>
                    </div>
                </div>
            </section>
            <section class="cagniotes">
                {% for cagniote in cagniotes%}
                
                <div class="cagniote">
                    <div class="head flex">
                        <div class="user">
                            <img src="../../media/images/avatar.jpg" alt="userProfile" width="50" height="50">
                            <div>
                                <span>{{ cagniote.user.user}} </span>
                            <p class="date">{{cagniote.dateCreation}}</p>
                            </div>
                            
                        </div>
                        {% if request.user == cagniote.user.user and cagniote.arret == False %} 


                        <div class="post-block__user-options show">
                            <a aria-expanded="true" aria-haspopup="true" data-toggle="dropdown" href="#!" id="triggerId">
                            <i aria-hidden="true" class="fa fa-ellipsis-v "></i>
                            </a>
                            <div aria-labelledby="triggerId" class="dropdown-menu dropdown-menu-right " x-placement="bottom-end" style="position: absolute; transform: translate3d(80px, 46px, 0px); top: 0px; left: 0px; will-change: transform;">
                            
                            <a class="dropdown-item text-danger" href="{% url 'arreter' cagniote.id  %}"><i class="fa-solid fa-ban cc"></i>arreter</a>
                            </div>
                            </div>

                    
                        {% endif %}                    
                    </div>
                    <div class="core flex">
                        <img src="../static/images/background.png" alt="userProfile" width="250" height="200">
                        <div>
                            <h1>{{cagniote.titre}} </h1>
                            <p>
                                {{cagniote.contenu}}
                            </p>
                        </div>
                    </div>
                    <div class="foot  ">
                        {% if cagniote.arret == False    %}
                        {% if cagniote.sommeRecolter <  cagniote.sommeDemander %}
                        <button id="envoi"> <a href="{% url 'depotArgent' cagniote.id %}">envoyer argent</a> </button>
                        {% endif %}
                        {% endif %}
                        {% if cagniote.arret == True  or cagniote.sommeRecolter >=  cagniote.sommeDemander  %}
                        <p id="message"> <em>cagniote fermer </em> </p>
                        {% endif %}
                        
                        <p id="recolte"> {{ cagniote.sommeRecolter}}<span  style="margin-left:5px ;">da</span> </p>
                        <div class="progress">
                            <div id="progress" class="progress-bar w-75" role="progressbar"  >  </div>
                        </div>
                        <p id="demande">{{cagniote.sommeDemander}} <span>da</span>  </p>
                    </div>
                

                </div>
                
{% endfor %}


            </section>

            {% if request.user.is_association == True %}
            <a href="#ajout">
                <button type="button" class="btn_add">  
                    <i class="fa-duotone fa-plus fa-4x"></i>
                </button>
            </a>
            {% endif %}
            <div id="ajout" class="modal1">
                <div class="modal__content1">
                    <section>
                        <form class="form" action="" method="post">
                            <h1>creer votre cagniote </h1>
                            {% csrf_token %}
                            {% for field in form %}
                            {{ field }}
                            {% endfor %}
                            <input class="green_btn" type="submit" value="envoyer">
                        </form>
                    </section>

                    <a href="" class="modal__close1">&times;</a>
                </div>
            </div>
            

        </div>
    </div>

    <script>
        var form_fields = document.getElementsByTagName('input')
        var text = document.querySelector('textarea')
        form_fields[1].placeholder = 'titre'
        form_fields[2].placeholder = 'Somme'
        text.placeholder = 'contenu'
        var progress = document.querySelectorAll('#progress')
        var demandes = document.querySelectorAll('#demande')
        var recoltes = document.querySelectorAll('#recolte')

        for(var i=0 ; i<progress.length ;i++){
            a = parseFloat(demandes[i].innerHTML)
            
            b = parseFloat(recoltes[i].innerHTML)

            progress[i].style.width=(b*100/a) +"%"
        }

       

        form_fields[1].classList.add('input')
        form_fields[2].classList.add('input')
        text.classList.add('input')
    </script>
                <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
                
</body>

</html>