<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/dd08ef7328.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/style/contrel.css">
    <link rel="stylesheet" href="../static/style/style.css">
    <link rel="stylesheet" href="../static/fontawesome-free-6.1.1-web/css/all.css">
    <title>Document</title>
</head>

<body>
    <div class="core1">

        <section>
            <div class="sidebar">
                <ul>
               
                    <li> <a href="{% url 'administrateur'%}"> <div><i class="fa-solid fa-chart-line"></i></div>Dashboard</a> </li>
                    <li class="active"> <a href="{% url 'control'%}"> <div><i class="fa-solid fa-gear"></i></div>Controle</a> </li>
                    <li> <a href="{% url 'logout'%}"> <div> <i class="fa-solid fa-right-from-bracket"></i></div>Déconnexion</a></li>
                  

                </ul>
            </div>
        </section>
        <div class="core2">
            <section style="width:100%;">
                <div class="navBar">
                    <img alt="Image profile" src="../static/images/admin.png">
                    <div class="icon">
                        <svg fill="#718096" stroke-width="0" viewBox="0 0 16 16" focusable="false"
                            class="chakra-icon css-1k2rqkh" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z">
                            </path>
                        </svg>
                    </div>
                </div>
            </section>
            <section class="contenu">

                <div class="table-users">
                    <div class="header">Users</div>

                    <table cellspacing="0">
                        <thead>
                            <tr>
                                <th>Username</th>
                                <th>Signalement</th>
                                <th>profile</th>
                                <th>Supprimer</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in users %}                       
                            <tr>
                                <td data-column="Username">{{user.username}}</td>
                                <td data-column="signialement">{{user.signial}}</td>
                                <td data-column="email"><a href="{% url 'ShowProfilePersonne' user.id  %}">profile de {{user.username}}</a></td>
                                <td data-column="supprimer"><a href="{% url 'deleteuser' user.id %}">
                                        <i class="fa-solid fa-trash-can"></i> </a></td>
                            </tr>                       
                            {% endfor %}
                        </tbody>
                    </table>

                    <div class="pagination">
                        <span class="step-links">
                            {% if users.has_previous %}
                            <a href="?page1={{ users.previous_page_number }}" class="control"><i
                                    class="fa-solid fa-angle-left"></i></a>
                            {% else %}
                            <a href="#" class="control"><i class="fa-solid fa-angle-left"></i></a>
                            {% endif %}
                            <span class="current">
                                {% for i in users.paginator.page_range %}
                                {% if users.number == i %}
                                <a class="num" href="#">{{ i }} </a>
                                {% else %}
                                <a class="num active" href="?page1={{ i }}">{{ i }}</a>
                                {% endif %}
                                {% endfor %}


                            </span>
                            {% if users.has_next %}
                            <a href="?page1={{ users.next_page_number }}" class="control">
                                <i class="fa-solid fa-angle-right"></i></a>
                            {% else %}
                            <a href="#" class="control"><i class="fa-solid fa-angle-right"></i></a>
                            {% endif %}
                        </span>
                    </div>
                </div>
                <div class="table-users">
                    <div class="header">Annonces</div>

                    <table cellspacing="0">
                        <thead>

                            <tr>
                                <th>Pseudo</th>
                                <th>Signalement</th>
                                <th>Annonce</th>
                                <th>Supprimer</th>
                            </tr>
                        </thead>
                        <tbody>


                            {% for annonce in annonces %}
                            {% if annonce.signial > 0 %}

                            <tr>
                                <td data-column="Auter">{{annonce.auteur.username}}</td>
                                <td data-column="Signialement">{{annonce.signial}}</td>
                                <td data-column="Annonce"><a href="{% url 'ShowProfileAnnonce' annonce.id %}">lien</a></td>
                                <td data-column="Supprimer"><a href="{% url 'deleteuser' user.id %}"><i class="fa-solid fa-trash-can"></i></a></td>
                            </tr>
                            {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>

                    <div class="pagination">
                        <span class="step-links">
                            {% if annonces.has_previous %}

                            <a href="?page3={{ annonces.previous_page_number }}" class="control"><i
                                    class="fa-solid fa-angle-left"></i></a>
                            {% else %}
                            <a href="#" class="control"><i class="fa-solid fa-angle-left"></i></a>
                            {% endif %}

                            <span class="current">

                                {% for i in annonces.paginator.page_range %}
                                {% if annonces.number == i %}
                                <a class="num" href="#">{{ i }} </a>
                                {% else %}
                                <a class="num active" href="?page3={{ i }}">{{ i }}</a>
                                {% endif %}
                                {% endfor %}


                            </span>
                            {% if annonces.has_next %}
                            <a href="?page3={{ annonces.next_page_number }}" class="control">
                                <i class="fa-solid fa-angle-right"></i></a>
                            {% else %}
                            <a href="#" class="control"><i class="fa-solid fa-angle-right"></i></a>
                            {% endif %}
                        </span>
                    </div>

                </div>
                <div class="table-users user">
                    <div class="header">Associations</div>

                    <table cellspacing="0">
                        <thead>
                            <tr>
                                <th>nom</th>
                                <th>Email</th>
                                <th>Fiche</th>
                                <th>Accepter</th>
                                <th>Refuser</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for association in associations %}
                            <tr>
                                <td data-column="Name">{{association.user.username}}</td>
                                <td data-column="Email">{{association.user.email}}</td>
                                <td data-column="Fiche"><a href="#ajout"><em>Agrément</em></a></td>
                                <div id="ajout" class="modal1">
                                    <div class="modal__content1">
                                        <section>
                                           <img src="{{association.file.url}}" alt="Agrément">
                                        </section>
                                        <a href="" class="modal__close1">&times;</a>
                                    </div>
                                </div>
                                <td data-column="Accepter"><a href="{% url 'valider' association.user_id %}"><i
                                            class="fa-solid fa-check"></i></a>
                                </td>
                                <td data-column="Refuser"><a href="{% url 'deleteAssociation' association.user.id %}">
                                    <i class="fa-solid fa-xmark"></i></a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <div class="pagination">
                        <span class="step-links">
                            {% if associations.has_previous %}

                            <a href="?page2={{ associations.previous_page_number }}" class="control">
                                <i class="fa-solid fa-angle-left"></i></a>
                            {% else %}
                            <a href="#" class="control"><i class="fa-solid fa-angle-left"></i></a>
                            {% endif %}

                            <span class="current">

                                {% for i in associations.paginator.page_range %}
                                {% if associations.number == i %}
                                <a class="num" href="#">{{ i }} </a>
                                {% else %}
                                <a class="num active" href="?page2={{ i }}">{{ i }}</a>
                                {% endif %}
                                {% endfor %}


                            </span>
                            {% if associations.has_next %}
                            <a href="?page2={{ associations.next_page_number }}" class="control">
                                <i class="fa-solid fa-angle-right"></i></a>
                            {% else %}
                            <a href="#" class="control"><i class="fa-solid fa-angle-right"></i></a>
                            {% endif %}
                        </span>
                    </div>

                </div>

            </section>
           

        </div>

    </div>


</body>

</html>