<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style/auth.css">
    <title>Document</title>
</head>
<body>
    
    <div class="login_container">
        <div class="login_form_container">
            <div class="left">
                <form method="POST" class="form_container" >
                   {% csrf_token %}
                    <h1 class="title1">Se Connecter </h1>
                    <p class="description"> Veillez entrer votre email et mot de passe</p>
                    
                    {% for field in form %}            
                    {{field }}
                    {% endfor%}          
                    {%for message in messages %} 
                    <p class="message">{{message}}</p>
                    {% endfor %}
                    <button type="submit" value="login" class="green_btn">
                        Connecter 
                    </button>
                    <p class="account">Vous n'avez pas de compte ?   
                     <a href="{% url 'select'%}" class="span">Incrivez-vous</a> 
                    </p> 
                </form>
            </div>
            <div class="right">	
            </div>
        </div>
    </div>

    <script>
        var form_fields = document.getElementsByTagName('input')
        form_fields[1].placeholder='email'
        form_fields[2].placeholder='mot de passe'
        form_fields[1].classList.add('input')
        form_fields[2].classList.add('input')
        
        
    </script>
</body>
</html>