{%load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'style/style.css' %}">
    <link rel="stylesheet" href="{% static 'style/benevoleProfil.css' %}">

    <script src="https://kit.fontawesome.com/dd08ef7328.js" crossorigin="anonymous"></script>

    <title>Document</title>
</head>

<body>
    <div class="core1">

        <section>
            <div class="sidebar">
                <ul>
                    {% if request.user.is_admin == True%}
                    <li> <a href="{% url 'administrateur'%}"> <div><i class="fa-solid fa-chart-line"></i></div>Dashboard</a> </li>
                    <li> <a href="{% url 'control'%}"> <div><i class="fa-solid fa-gear"></i></div>Controle</a> </li>
                    <li> <a href="{% url 'logout'%}"> <div> <i class="fa-solid fa-right-from-bracket"></i></div>Déconnexion</a></li>
                    {% else%}
                    <li><a href="{% url 'annonce'%}"><div><i class="fa-solid fa-house"></i></div></i>Annonce</a></li>
                    <li> <a href="{% url 'profile'%}"> <div><i class="fa-solid fa-user"></i></div>Profile</a> </li>
                    <li> <a href="{% url 'cagniote'%}"> <div><i class="fa-solid fa-hand-holding-dollar"></i></div>Cagnotte</a> </li>
                    <li> <a href="{% url 'benevole'%}"> <div><i class="fa-solid fa-handshake-angle"></i></div>Mission</a> </li>
                    <li> <a href="{% url 'list_association'%}"> <div><i class="fa-solid fa-magnifying-glass"></i></div>Association</a> </li>
                    <li> <a href="{% url 'logout'%}"> <div> <i class="fa-solid fa-right-from-bracket"></i></div>Déconnexion</a></li>
                    {% endif %}

                </ul>
            </div>
        </section>
        <div class="core2">
            <section style="width:100%;">
                <div class="navBar">
                    <img alt="Image profile" src="{{request.user.img.url}}">
                    <div class="icon">
                        <svg fill="#718096" stroke-width="0" viewBox="0 0 16 16" focusable="false"
                            class="chakra-icon css-1k2rqkh" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z">
                            </path>
                        </svg>
                    </div>
                </div>
            </section>
            <section>
                <div align="center" class="cover">
                    <div class="cover1">
                        <div class="cover2">
                            <div class="cover3">
                                <div class="coverInfo">
                                    {% if benevole.type == "SOLIDARITÉ ET INSERTION" %}
                                    <div class="type typeSo">{{benevole.type}}</div>
                                    {% endif %}
                                    {% if benevole.type == "ÉDUCATION POUR TOUS" %}
                                    <div class="type typeE">{{benevole.type}}</div>
                                    {% endif %}
                                    {% if benevole.type == "PRÉVENTION ET PROTECTION" %}
                                    <div class="type typeP">{{benevole.type}}</div>
                                    {% endif %}
                                    {% if benevole.type == "ART ET CULTURE POUR TOUS" %}
                                    <div class="type typeA">{{benevole.type}}</div>
                                    {% endif %}
                                    {% if benevole.type == "SANTE POUR TOUS" %}
                                    <div class="type typeS">{{benevole.type}}</div>
                                    {% endif %}
                                    {% if benevole.type == "SPORT POUR TOUS" %}
                                    <div class="type typeSP">{{benevole.type}}</div>
                                    {% endif %}
                                    {% if benevole.type == "PROTECTION DE LA NATURE" %}
                                    <div class="type typePN">{{benevole.type}}</div>
                                    {% endif %}
                                    <div class="info">
                                        <h1>{{benevole.titre}}</h1>
                                        <P>Publier par l'association <span>{{benevole.association.user.username}}</span></P>
                                    </div>
                                </div>
                            </div>
                            {% if request.user == benevole.association.user %}
                            <a href="{% url 'arreterBenevole' benevole.id  %}"> 

                                <button type="button" class="button1">
                                    <i class="fa-solid fa-pencil fa-lg"></i>
                                    <p>Arreter</p>
                                </button>
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </section>
            <div class="core3">
                <section class="main-content">
                    <div class="contain">
                        <h3>Présentation de la mission</h3>
                        <p>{{benevole.contenu}}</p>
                    </div>
                    <div class="contain">
                        <h3>Découvrez l'association  <span style="text-transform: uppercase;">{{benevole.association.user.username}}</span> </h3>
                        <p>
                            {{benevole.association.user.username}} est une association  {{benevole.association.type}} dans le demaine {{benevole.association.category}} ,elle  accompagne et réunit des citoyens engagés, des
                            entrepreneurs passionnés, et des organisations visionnaires pour résoudre ensemble les défis sociaux et environnementaux de notre époque.
                        </p>
                        <a href="{% url 'ShowProfilePersonne' benevole.association.user.id %}" >
                            <button class="button1">
                                <p>en savoir plus ..</p> </button>
                        </a>
  </div>
                </section>
                <section class="information">

                    {% if benevole.type == "SOLIDARITÉ ET INSERTION" %}
                    <img src="../../media/download.jpg" alt="">

                    {% endif %}
                    {% if benevole.type == "ÉDUCATION POUR TOUS" %}
                    <img src="../../media/education-pour-tous-5___large_1087_518.webp" alt="">

                    {% endif %}
                    {% if benevole.type == "PRÉVENTION ET PROTECTION" %}
                    <img src="../../media/3OAo7cTMAsKbxIt___large_1087_518.webp" alt="">

                    {% endif %}
                    {% if benevole.type == "ART ET CULTURE POUR TOUS" %}
                    <img src="../../media/art-et-culture-pour-tous-5___large_1087_518.webp" alt="">

                    {% endif %}
                    {% if benevole.type == "SANTE POUR TOUS" %}
                    <img src="../../media/sante-pour-tous-1___carousel_352_352.webp" alt="">

                    {% endif %}
                    {% if benevole.type == "SPORT POUR TOUS" %}
                    <img src="../../media/ksa0J6PYwh8hODt___large_1087_518.webp" alt="">

                    {% endif %}
                    {% if benevole.type == "PROTECTION DE LA NATURE" %}
                    <img src="../../media/Biggest-Tree-Planting-Stock-image-hands-and-plant-o3r9lghjay4ovjl168p0b0d0f3ys3qcuk4y467qi6g.jpg"
                        alt="">

                    {% endif %}
                    <div class="contenu">
                        <h3>
                            ils cherchent {{benevole.nbr_max}} bénévoles
                        </h3>
                        <p>{{benevole.nbr_actuel}} PERSONNES DÉJÀ INSCRITES </p>
                        <div>
                            <p> <span><i class="fa-solid fa-location-dot"></i></span>{{benevole.adresse.wilaya_name}} ,{{benevole.adresse.daira_name}} ,{{benevole.adresse.commune_name}} </p>
                            <p> <span><i class="fa-solid fa-calendar-days"></i></span> {{benevole.date}} </p>
                        </div>      
                        {% if benevole.arret == False  %}
                        {% if benevole.nbr_actuel <  benevole.nbr_max %}
                         <button class="green_btn"> <a href="{% url 'ajouterPersonne' benevole.id  %}"> je propose mon aide </a> </button>
                        {% endif %}
                        {% endif %}
                        {% if benevole.arret == True  or benevole.nbr_actuel >=  benevole.nbr_max  %}
                           <p>Mission fermer</p>
                        {% endif %}
                </section>
            </div>
        </div>
    </div>
</body>
</html>