<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style/auth.css">
    <title>Document</title>
</head>
<body>

    <div class="login_container">
        <div class="login_form_container">
            <div class="left">
                <form  class="form_container" >
                   
                    <h1 class="title1">Creer Votre Compte </h1>
                    
                    <div class="progressbar">
                        <div class="progress" id="progress"></div>
                        <div
                          class="progress-step progress-step-active"
                          data-title=" "
                        ></div>
                        <div class="progress-step" data-title=""></div>
                        <div class="progress-step" data-title=""></div>
                        <div class="progress-step" data-title=""></div>
                      </div>	
                    

                        
                        <a href="{% url 'createuser' %}">
                            
                            <button type="button"  class="green_btn">
                                Personne
                            </button>
                        
                        </a>
                        <a href="{% url 'signup' %}">
                        <button type="button"  class="green_btn">
                            Association
                        </button>
                        </a>
                       
                   
                </form>
            </div>
            <div class="right">	
            </div>
        </div>
    </div>

<script>
    const prevBtns = document.querySelectorAll(".btn-prev");
const nextBtns = document.querySelectorAll(".btn-next");
const progress = document.getElementById("progress");
const formSteps = document.querySelectorAll(".form-step");
const progressSteps = document.querySelectorAll(".progress-step");

let formStepsNum = 0;

nextBtns.forEach((btn) => {
  btn.addEventListener("click", () => {
    formStepsNum++;
    updateFormSteps();
    updateProgressbar();
  });
});

prevBtns.forEach((btn) => {
  btn.addEventListener("click", () => {
    formStepsNum--;
    updateFormSteps();
    updateProgressbar();
  });
});

function updateFormSteps() {
  formSteps.forEach((formStep) => {
    formStep.classList.contains("form-step-active") &&
      formStep.classList.remove("form-step-active");
  });

  formSteps[formStepsNum].classList.add("form-step-active");
}

function updateProgressbar() {
  progressSteps.forEach((progressStep, idx) => {
    if (idx < formStepsNum + 2) {
      progressStep.classList.add("progress-step-active");
    } else {
      progressStep.classList.remove("progress-step-active");
    }
  });

  const progressActive = document.querySelectorAll(".progress-step-active");

  progress.style.width =
    ((progressActive.length - 1) / (progressSteps.length - 1)) * 100 + "%";
}
        
        
   
    
</script>

   
</body>
</html>