<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style/auth.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>  
    <title>Document</title>
</head>
<body>
   

    <div class="login_container">
        <div class="login_form_container">
            <div class="left">
                <form method="POST" class="form_container" >  
                    
                   {% csrf_token %}
                    <h1 class="title">Créer Votre Compte </h1>
                    <div class="progressbar">
                        <div class="progress "  id="progress"></div>
                        <div  class="progress-step kk" data-title="" ></div>
                        <div class="progress-step  progress-step-active" data-title=""></div>
                        <div class="progress-step" data-title=""></div>
                        <div class="progress-step" data-title=""></div>
                      </div>

                    <div class="form-step form-step-active">
                    {{form.email}}
                    {{form.username}}
                    {{form.password1}}
                    {{form.password2}}
                    <div class="btns-group">
                      <a href="{% url 'select'%}" class="btn ">Retour</a>
                      <a href="#" class="btn btn-next">Suivant</a>
                    </div>
                       
                    
                    </div>
                    <div class="form-step">
                      {{form.phone}}
                    {% for field in form2 %}            
                    {{field }}
                    {% endfor%}
                    <div class="btns-group">
                      <a href="" class="btn ">Retour</a>
                      <a href="#" class="btn btn-next">Suivant</a>
                    </div>
                    
                    </div>
                    <div class="form-step ">
                      
                      <select id="wilaya" class="input1 input2" name="wilaya_name" >
                        <option value="" >wilaya</option>
                        {% for options in wilaya %}
                        <option value="{{options.wilaya_name}}">{{options.wilaya_name}}</option>
                        {% endfor %}
                      </select>
                      <select id="daira" class="input1 input2" name="daira_name" >
                        <option value="" >daira</option>
                        {% for options in local %}
                        <option value="{{options.daira_name}}">{{options.daira_name}}</option>
                        {% endfor %}
                      </select>
                      <select id="commune"  class="input1 input2" name="commune_name" >
                        <option value="" >commune</option>
                        {% for options in local %}
                        <option  value="{{options.commune_name}}">{{options.commune_name}}</option>
                        {% endfor %}
                      </select>
                      <input class="input1" type="hidden">
                      
                      
                      
                      <div class="btns-group">
                        <a href="#" class="btn btn-prev">Retour</a>
                        <input type="submit" value="Envoyer" class="btn" />
                      </div>
                    </div>
                    <p class="message">
                        {{form.errors}}
                    </p>
                   
                    <p class="account">Vous avez deja un compte ?   
                     <a href="{% url 'login'%}" class="span">Connectez-vous</a>
                    </p>   
                </form>
            </div>
            <div class="right">	
            </div>
        </div>
          
        </div>
    
    <script>

       $("#wilaya").change(function(){
      
       const wilaya=$(this).val();
      $.ajax({
        url:"{% url  'get_Daira' %}",
        data:{
          'wilaya':wilaya
        },
        success:function(data){
          console.log(data)
          $("#daira").html(data);
        },
        error:function(error){
                console.log(error)
        }
      })
    }
    )

    $("#daira").change(function(){
      
      const daira=$(this).val();
     $.ajax({
       url:"{% url  'get_Commune' %}",
       data:{
         'daira':daira
       },
       success:function(data){
         console.log(data)
         $("#commune").html(data);
       },
       error:function(error){
               console.log(error)
       }
     })
   }
   )



        var form_fields = document.getElementsByTagName('input')
        var select = document.querySelectorAll("select")
        document.querySelector("#id_type").querySelector('option').innerHTML = "type"
        document.querySelector("#id_category").querySelector('option').innerHTML = "categorie"
        
        form_fields[1].placeholder='Email'
        form_fields[2].placeholder='Username'
        
        
        form_fields[3].placeholder='password'
        form_fields[4].placeholder='confirm password '
        form_fields[5].placeholder='phone Number'
       
        form_fields[6].placeholder='file '

        form_fields[1].classList.add('input1')
        form_fields[2].classList.add('input1')
        form_fields[3].classList.add('input1')
        
        form_fields[4].classList.add('input1')
        form_fields[5].classList.add('input1')
        form_fields[7].classList.add('input1')
        form_fields[6].classList.add('input1')
        select[0].classList.add('input2')
        select[0].classList.add('input1')

        select[1].classList.add('input1')
        
        select[1].classList.add('input2')
    
       
        

        
const prevBtns = document.querySelectorAll(".btn-prev");
const nextBtns = document.querySelectorAll(".btn-next");
const progress = document.getElementById("progress");
const formSteps = document.querySelectorAll(".form-step");
const progressSteps = document.querySelectorAll(".progress-step");

let formStepsNum = 0;

nextBtns.forEach((btn) => {
  btn.addEventListener("click", () => {
    formStepsNum++;
    updateFormSteps();
    updateProgressbar();
  });
});

prevBtns.forEach((btn) => {
  btn.addEventListener("click", () => {
    formStepsNum--;
    updateFormSteps();
    updateProgressbar();
  });
});

function updateFormSteps() {
  formSteps.forEach((formStep) => {
    formStep.classList.contains("form-step-active") &&
      formStep.classList.remove("form-step-active");
  });

  formSteps[formStepsNum].classList.add("form-step-active");
}

function updateProgressbar() {
  progressSteps.forEach((progressStep, idx) => {
    if (idx < formStepsNum + 2) {
      progressStep.classList.add("progress-step-active");
    } else {
      progressStep.classList.remove("progress-step-active");
    }
  });

  const progressActive = document.querySelectorAll(".progress-step-active");

  progress.style.width =
    ((progressActive.length - 1) / (progressSteps.length - 1)) * 100 + "%";
}
        
        
    </script>
    
</body>
</html>