@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");
html{
    line-height: 0 !important;
    display: block;
    -webkit-text-size-adjust: 0 !important;
}
body {
    padding-top: 9px;
    padding-left: 8px;
}


.container2 {
    background: rgb(255, 255, 255) none repeat scroll ;
    box-shadow:0 4px 12px 0 rgba(0,0,0,0.05);
    border-radius: 15px;
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
    padding: 25px;
}

.postbox {
    display:flex;
    flex-direction: row;
    width: 100%;
    height: 150px;
}

.postbox a{
    height:60px;
}
.postbox img{
    border-radius: 100%;
    width: 60px;
    height: 60px;
}

.newpst-input {
    display: inline-block;
    margin-left: 10px;
    vertical-align: top;
    width: 90%;
    border-radius: 0;
    
}

.textholder{
    outline: none;
    float: left;
    width: 100%;
    height: 100px;
    overflow: auto;
    resize: none;
    padding: 10px;
    border: none;
}

.newpst-input textarea::placeholder{
    color:#A0AEC0;
}


.attachments > ul {
    list-style: outside none none;
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    align-items:center;
    padding: 0px;

}
.attachments li{
    margin-right: 15px;
}

.newpst-input form{
    height: 100%;
    border: 1px solid RGBA(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
    
}


@media screen and (max-width: 980px)
{
    .central-meta {
        margin: 10px 10px 10px 0;
        width: 100%;
    }
}

.main-content {
	padding-bottom: 100px;
}

.post-block {
    width: 100%;
	background: #fff;
	padding: 25px;
	margin-bottom: 25px;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 0 2px 30px rgba(0, 0, 0, 0.1);
	transition: all 0.2s;
}
.post-block img.author-img {
	height: 45px;
	width: 45px;
	border-radius: 45px;
}
.post-block img.author-img.author-img--small {
	height: 30px;
	width: 30px;
}
.post-block__content img,
.post-block__content video,
.post-block__content audio {
	max-width: 75%;
	border-radius: 5px;
}

.post-block__content div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-block .comment-view-box__comment {
	border-radius: 5px;
	background: #f5f5f5;
	padding: 15px;
}

*, ::after, ::before {
    box-sizing: border-box;
}

#image_input{
    display: none;
}

.attachments .fa{
    margin-top: 15px;
}
.input {
	outline: none;
	width:100%;
	padding: 5px 10px;
	border-radius: 0px;
	border:#E2E8F0 2px solid;

	font-size: 14px;
}

.input:focus{

    border-color: rgb(49, 130, 206);
    box-shadow: rgb(49 130 206) 0px 0px 0px 1px;
}

.ajouter{
    border: none;
    outline: none;
    padding: 5px 10px;
    width: 100%;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    background-color:#4FD1C5;
    color: white;

}

.fa-ellipsis-v{
    color: #4FD1C5 !important;
}

.btn-primary{
    background-color: #4FD1C5 !important;
    border: #4FD1C5 !important;
}
.type1{
    background-color: #5eecdd;

    padding: 3px 10px;
    border-radius: 15px;
    border: #5eecdd solid 2px;
    font-weight: 500;
    font-size: 16px;

}
.categorie{
    padding: 3px 10px;
    border-radius: 15px;
    font-size: 16px;
    font-weight: 500;
    border: solid 2px #5eecdd;
}

.dd-a{
    display: flex;
    flex-direction: row-reverse;
    margin-top: 20px;
    margin-right: 35px;
    color: #A0AEC0;
    font-weight: 400;
}
.dd-a i{
    font-size: 20px;
    color: #4FD1C5;
    margin-top: 0px;
    margin-left: 5px;
}
.dd {
    position:relative;
    display: inline-block;
}
.dd-a {
    background:white;
    position:relative;

}
.dd input {
    top:0;
    opacity:0;
    display:block;
    padding:0;
    margin:0;
    border:0;
    position:absolute;
    height:100%;
    width:100%;
}
.dd input:hover {
    cursor:pointer;
}
  
.dd input:checked:after {
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
}
.dd input:checked ~ .dd-c {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
}

.dd-c{
    display:block;
    left:-120px;
    padding: 30px;
    position: absolute;
    background:white;
    height:auto;
    transform: scaleY(0);
    transform-origin: top left;
    transition-duration: 0.2s;
    -webkit-transform: scaleY(0);
    -webkit-transform-origin: top left;
    -webkit-transition-duration: 0.2s;
    border-radius: 20px;
    box-shadow: 0px 2px 6px   #ebebeb;
    z-index: 10;
}

#button-submit {
    /* background: url(http://2.bp.blogspot.com/-4OxjMRukhCM/VD1gBscpzII/AAAAAAAAAhk/TUxMSv7bCzA/s1600/search-button.png) no-repeat; */
    border-width: 0px;
    cursor: pointer;
    width: 43.874998px;
    height: 35px;
    background-color: #4fd1c5;
    /* border-radius: 100%; */
    border-top-right-radius: 30%;
    border-bottom-right-radius: 30%;
}

#button-submit:hover {
    background-color: #86e0d7;
}
#button-submit::-moz-focus-inner {
    border: 0;
}
.filtrage {
    justify-content: flex-end;
    display: flex;
    align-items: center;
}
i.fa-solid.fa-filter {
    font-size: 20px;
    color:#A0AEC0;
}
.green_btn:hover{
    background-color:  #5eecdd;
}
  
form.formFilter {
    display: flex;
    flex-direction: column;
}

.green_btn {
    border: none;
    outline: none;
    padding: 10px 0;
    margin: 0;
    border-radius: 15px;
    width: 150px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    background-color: #4FD1C5;
    color: white;
    margin-top: 25px;
}

.input1 {
    outline: none;
    width: 150px;
    padding: 10px;
    border-radius: 15px;
    border:#E2E8F0 1px solid;
    margin: 15px 0;
    font-size: 14px;
}
.input1:focus{
    border-color: rgb(49, 130, 206);
    box-shadow: rgb(49 130 206) 0px 0px 0px 1px;
}